.calculator-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffb703;
  padding: 2rem;
  border-radius: 1rem;
  gap: 3rem;
}

.visor {
  height: 7rem;
  width: 18rem;
  background-color: #fcfcfc;
  border-radius: 0.25rem;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.resultStatus {
  font-size: 1.3rem;
}

.resultNumber {
  font-size: 3rem;
  text-align: end;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
}

input {
  display: flex;
  background-color: #fcfcfc;
  padding: 0.5rem;
  border-radius: 0.25rem;
  font-size: 1rem;
  border: none;
}

.button-line {
  display: flex;
  gap: 2rem;
}

button {
  border: none;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
}

button:active {
  transform: scale(0.95);
}

button.clear {
  background: #8ecae6;
  color: #0c0c0c;
}

button.calculate {
  background: #219ebc;
  color: #fcfcfc;
}
